@use "./_variables" as *
@use "./_icons" as *
@use "./_mixins" as *

*
    margin: 0
    padding: 0
 
nav
    display: flex
    align-items: center
    justify-content: space-between
    background-color: $noir50
    position: sticky
    top: 0px
    margin-bottom: -100px
    height: 100px
    padding-left: 5%
    padding-right: 5%
    z-index: 100
    button
        @include btn1()
    button:hover
        @include btn1Hover()
    > a
        text-decoration: none
        color: white
    ul
        display: flex
        align-items: center
        list-style: none
        gap: 35px
        li
            @include centerAll()
            a
                text-decoration: none
                color: white
                transition: 0.3s ease
            a:hover
                color: $beige
        li:first-of-type
            a:first-of-type
                color: $beige
        

header
    background-image: linear-gradient($noir50, $noir50) , url(../assets/images/hero-bg.jpg)
    background-size: cover
    background-position: top
    height: 1100px
    padding-left: 5%
    padding-right: 5%
    padding-top: 5%
    display: flex
    align-items: center
    z-index: -2
    h1
        color: white
        font-weight: bold
        span
            color: $beige
    h3
        color: white
        font-family: 'Times New Roman', Times, serif
    button
        @include btn1()
    button:hover
        @include btn1Hover()
    #headerGauche
        width: 50%
    #headerDroite
        width: 50%
        @include centerAll()
        justify-content: end
        margin-right: 10%
        #cerclePlay
            background-color: rgb(205, 164, 93, 0.5)
            width: 150px
            height: 150px
            border-radius: 50%
            @include centerAll()
            z-index: 1
            cursor: pointer
            overflow: hidden
            transition: 0.3s ease
            #playBtn1
                fill: rgb(255, 255, 255)
                margin-left: 5px
                transition: 0.5s ease
            #playBtn2
                position: absolute
                opacity: 0
                fill: rgb(255, 255, 255)
                margin-left: 5px
                transition: 0.5s ease
        #cerclePlay:hover
            background-color: rgb(205, 164, 93)
            #playBtn1
                scale: 1500%
                opacity: 0
            #playBtn2
                opacity: 1
            
        #cerclePlay::after
            content: ""
            position: absolute
            background-color: transparent
            opacity: 50%
            height: 100px
            width: 100px
            border-radius: 50%
            border: 3px solid $beige
            animation: pulse 1.5s ease-in-out forwards infinite
            z-index: -1
        #cerclePlay::before
            content: ""
            position: absolute
            background-color: $beige
            height: 100px
            width: 100px
            border-radius: 50%
            z-index: -1

@keyframes pulse
    0%
        scale: 100%
    50%
        opacity: 1
    100%
        scale: 150%
        opacity: 0
        


