@use "./_variables" as *

@mixin btn1()
    border: 2px solid $beige
    padding: 10px 35px
    color: white
    background-color: transparent
    border-radius: 32px
    font-size: 1.25rem
    transition: 0.3s ease
@mixin btn1Hover()
    background-color: $beige

    
@mixin btn2()
    border: none
    padding: 10px 40px
    color: white
    background-color: $beige
    border-radius: 32px
    font-size: 1.5rem
    @include centerAll()
    padding-bottom: 12px
    transition: 0.3s ease
@mixin btn2Hover()
    background-color: rgb(202, 146, 48)

@mixin centerAll()
    display: flex
    justify-content: center
    align-items: center

@mixin mini-titre()
    color: $gris
    font-size: 20px 
    letter-spacing: 2px
@mixin mini-titre-trait()
    content: "" 
    position: absolute
    top: 12px
    width: 150px
    border-bottom: 1px solid $gris25
    margin-left: 15px

@mixin mini-titre-template()
    h6
        @include mini-titre()
    h6::after
        @include mini-titre-trait()

@mixin section-titre()
    h2
        color: $beige
        font-size: 50px
        font-weight: bold
        font-family: 'Times New Roman', Times, serif
        margin-bottom: 50px

@mixin section2Carte()
    div
        padding-left: 40px 
        padding-top: 70px
        padding-bottom: 20px
        background-color: $brun
        width: 100%
        height: 350px
        transition: 0.1s ease
        h3:first-of-type
            color: $beige
            font-weight: bold
            font-size: 40px
            margin-bottom: 30px
        h3:last-of-type
            color: rgb(209, 209, 208)
            font-family: 'Times New Roman', Times, serif
            font-weight: bold
            font-size: 34px
            margin-bottom: 20px
        p
            color: $gris
            font-size: 21px
    div:hover
        background-color: $beige
        padding-top: 50px
        h3:first-of-type
            color: white
        h3:last-of-type
            color: white
        p
            color: white
        

@mixin sections()
    padding-left: 5%
    padding-right: 5%
    padding-top: 80px
    padding-bottom: 80px

@mixin elementMenu()
    > div:first-of-type
        img
            width: 90px
            border-radius: 50%
            border: 6px solid $gris25
    > div:nth-of-type(2)
        width: 100%
        > div:first-of-type
            display: flex
            justify-content: space-between
            align-items: center
            h6:first-of-type
                color: white
                font-size: 24px
            >div
                flex-grow: 1
                border: 1px dashed $gris
                height: 1px
                margin-right: 10px
                margin-left: 10px
            h6:last-of-type
                color: $beige
                font-size: 24px
        p
            color: $gris