@use "./_variables" as *
@use "./_icons" as *
@use "./_mixins" as *
@use "./_base" as *

// PC
@media (min-width:1024px)
    nav
        ul
            display: flex !important
        i
            display: none !important
// TABLETTE
@media (min-width:768px) and (max-width:1024px)
    nav
        ul
            display: none !important
            flex-wrap: wrap !important
        button
            display: none !important
    header
        flex-direction: column
        justify-content: center
        text-align: center
        padding-left: 0 !important
        padding-right: 0 !important
        gap: 50px
        #headerGauche
            width: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
        h1
            text-wrap: nowrap
            display: flex
            gap: 10px
        h3
            text-wrap: nowrap
            text-align: center
        #headerDroite
            width: 100%
            @include centerAll()
            margin-right: 0
    #section1
        flex-direction: column-reverse
        > div
            width: 100% !important
    #section2
        #section2Bot
            > div
                br
                    display: none
    #section3
        #section3Bot
            flex-direction: column
    @keyframes apparitionMenus1
        0%
            opacity: 0
            transform: scale(50%)
            width: 50%
            transform: translateX(-30px)
        100%
            opacity: 1
            transform: scale(100%)
            width: 100%
            transform: translateX(0)
    @keyframes apparitionMenus2
        0%
            opacity: 0
            transform: scale(50%)
            width: 50%
            transform: translateX(-30px)
        100%
            opacity: 1
            transform: scale(100%)
            width: 100%
            transform: translateX(0)
    @keyframes apparitionMenus3
        0%
            opacity: 0
            transform: scale(50%)
            width: 50%
            transform: translateX(-30px)
        100%
            opacity: 1
            transform: scale(100%)
            width: 100%
            transform: translateX(0)
    @keyframes apparitionMenus4
        0%
            opacity: 0
            transform: scale(50%)
            width: 50%
            transform: translateX(-30px)
        100%
            opacity: 1
            transform: scale(100%)
            width: 100%
            transform: translateX(0)
    #section4
        .carousel-item
            width: 100%
            .row
                flex-direction: column
                align-items: center
                width: 100% !important
                height: auto !important
                .col-md-6
                    width: 100%
                img
                    height: auto !important
                    width: 100% !important
        .cold-md-6
            width: 100% !important
            height: auto !important
        .Carousel-Texte
            height: auto !important
            flex-direction: column !important
            justify-content: center !important
            align-items: center !important
            width: 100%
            p
                color: white
                font-size: 2vw
                margin-top: 20px
            p:first-of-type
                margin-bottom: -5px
                color: $beige
                font-size: 4vw
                font-family: 'Times New Roman', Times, serif
            p:nth-of-type(2)
                font-size: 3.6vw
                border-bottom: 3px solid $beige
                display: inline
                font-weight: bold
            p:nth-of-type(3)
                font-style: italic
    #section7
        #section7Bot
            display: flex
            flex-direction: row !important
            flex-wrap: wrap !important
            justify-content: flex-start
            > div
                width: 47%
    #section8
        #section8Bot
            flex-direction: column
            #section8BotGauche
                width: 100%
            #section8BotDroite
                width: 100%
// MOBILE
@media (max-width:768px)
    nav
    ul
        display: none !important
        flex-wrap: wrap !important
    button
            display: none !important